<div class="mat-card" style="display: flex; flex-direction: row;">
    <mat-card class="mat-card count-card totalvideo">
        <mat-card-title>Total Video</mat-card-title>
        <mat-card-content>0213</mat-card-content>
    </mat-card>  
</div>
<div class="mat-card" style="display: flex; flex-direction: row;">
    <mat-card class="mat-card count-card bg-success">
        <mat-card-title>General knowledge</mat-card-title>
        <mat-card-content>0213</mat-card-content>
    </mat-card>
    <mat-card class="mat-card count-card bg-warning">
        <mat-card-title>Science </mat-card-title>
        <mat-card-content>100</mat-card-content>
    </mat-card>
    <mat-card class="mat-card count-card bg-info">
        <mat-card-title>Islamic</mat-card-title>
        <mat-card-content>20</mat-card-content>
    </mat-card>
    <mat-card class="mat-card count-card bg-primary">
        <mat-card-title>Math</mat-card-title>
        <mat-card-content>30</mat-card-content>
    </mat-card>  
</div>
<div class="mat-card" style="display: flex; flex-direction: row;">
    <mat-card class="mat-card count-card bg-warning ">
        <mat-card-title>Ham Nath</mat-card-title>
        <mat-card-content>0213</mat-card-content>
    </mat-card>
    <mat-card class="mat-card count-card bg-success">
        <mat-card-title>Poetry </mat-card-title>
        <mat-card-content>100</mat-card-content>
    </mat-card>
    <mat-card class="mat-card count-card bg-primary ">
        <mat-card-title>Happy</mat-card-title>
        <mat-card-content>20</mat-card-content>
    </mat-card>
    <mat-card class="mat-card count-card bg-info">
        <mat-card-title>Music</mat-card-title>
        <mat-card-content>30</mat-card-content>
    </mat-card>  
</div>