<mat-toolbar class="header-toolbar">
  <button mat-icon-button (click)="toggleSidebar()" class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <a href="" > <span class="app-title" routerLink="root">KidsVideo</span></a>
  <ul>
    <li class="home"> <a href="" routerLink="/kids-video"> Home</a></li>
  </ul>
  <span class="header-spacer"></span>
 
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
 <mat-drawer-container class="content-container">
  <mat-drawer mode="side" [opened]="sidebarOpen" class="sidebar">
   <app-sidebar></app-sidebar>
  </mat-drawer>

  <mat-drawer-content class="main-content">
    <!-- <h1>Credit Card Admin Portal</h1> -->

    <!-- Only one router-outlet for the main content -->
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>