
<mat-card class="mat-card">
    <mat-card-header>
        <mat-card-title> List All Credit Cards</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <table mat-table [dataSource]="dataSource" matStort>
            <!-- <ng-component matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox></mat-checkbox>
                </td>
            </ng-component> -->

            <ng-component matColumnDef="userId">
                <th mat-header-cell *matHeaderCellDef>Id</th>
                <td mat-cell *matCellDef="let element">{{element.userId}}</td>
            </ng-component>

            <ng-component matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">{{element.title}}</td>
            </ng-component>

            <ng-component matColumnDef="body">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let element">{{element.body}}</td>
            </ng-component>

                <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5,10,15,20]"
        showFirstLastButtons>
    </mat-paginator>

    </mat-card-content>
</mat-card>